.banner{
  display: flex;
  background-image: url("https://media.lesechos.com/api/v1/images/view/5e62501ed286c246bc629e55/1280x720/17327-1580748931-sans-titre-16.png");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  padding: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 150px;
}

.container h1 {
  color: white;
  text-shadow: 1px 1px 3px red;
  font-size: 40px;
  margin : 0;
  padding: 0;
}

.container p {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}

/* .btn-banner {
  display:inline-block;
  background-color: rgb(200, 171, 171);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid ;
  text-decoration: none;
  margin-bottom: 50px;
} */

.btn-banner {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
}

.btn-banner:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-banner:hover:after {
  top: 0px;
  left: 0px;
}
